<mat-toolbar
  style="display: flex; flex-direction: row; justify-content: space-between"
>
  <div class="example-button-row">
    <a
      mat-button
      color="accent"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      href="/data"
    >
      Data
    </a>
    <a
      href="/about"
      mat-button
      color="accent"
      routerLink="/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      About
    </a>
  </div>
  <!-- <button
    *ngIf="isLoggedIn"
    mat-stroked-button
    color="accent"
    class="btn-block mat-stroked-button"
    (click)="logout()"
  >
    Logout
  </button> -->
</mat-toolbar>

<router-outlet></router-outlet>
